<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title</title>
    <link rel="stylesheet" href="rasp-style.css">
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td colspan="3">РАСПИСАНИЕ ЗАНЯТИЙ НА $Date</td>
            </tr>
            <tr>
                <td colspan="3">$Group</td>
            </tr>
            <tr>
                <td colspan="3">$Day</td>
            </tr>

            $cell1
            $cell2
            $cell3
            $cell4
            $cell5
        </tbody>
    </table>
</body>
</html>