table, th, td {
    border: 1px solid black;
    font-weight: bold;
}

td {
    text-align: center;
    width: 30px;
}

.cell {
    width: 250px;
    height: 150px;
}

.double_cell {
    width: 250px;
    height: 75px;
}


table {
    border-collapse: collapse;
}
